.card {
    align-items: center;
    padding: 1rem;
}

.options {
    display: flex;
    gap: 5vh;
    justify-content: space-evenly;
    width: 80%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-detalle-publicacion {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 90%;
    margin-left: 5%;
}
