section {
    margin-top: 15vh;
}

.container-btn {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1vh;
}

.tipo-publicacion{
    background-color: #343a40;
    position: sticky;
}

.tipo-publicacion2 {
    padding: 5vh 5vh;
    width: 40vh;
    display: flex;
    position: sticky;
    flex-direction: column;
    gap: 1.5vh;
}

.container {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-left: 8vh;
}
