section {
    margin-top: 15vh;
}

.container-btn {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1vh;
}

.tipo-publicacion {
    background-color: #343a40;
    margin-left: 5vh;
    margin-right: -40vh;
    padding: 5vh 10vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 2vh;
    margin-left: 8vh;
}
