/* Ensure the background covers the entire viewport */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.postimg.cc/bYLTtnt8/fondo-Pata.png');
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Align elements similarly to home.css */
.text-container {
    text-align: left;
    color: white;
}

/* Button container similar to home.css */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container .btn {
    margin: 0.5rem;
    font-size: 1.2rem;
}

/* Icon styling */
.icon-img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

/* Latest publications container */
.latest-publications-container {
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.latest-publications-container h3 {
    color: mediumblue;
}

.latest-publications-container .publication {
    margin-bottom: 10px;
}

.latest-publications-container .publication p {
    margin: 0;
    font-size: 0.9rem;
}

/* Adjustments for footer to stick at the bottom */
.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Ensure main content aligns well */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}
.title {
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.button {
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.btn{
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

section{
    margin-top: 20vh;
}

.containerEditar{
    display: flex;
    margin-top: 50px;
}
.editarTitulo{
    margin-left: 50px;
    margin-top: 25px;
}

