<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="login">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="mapa-mascotero">Mapas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="#">Vacunas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="#">Donaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="nuevo-usuario">Login</a>
        </li>
    </ul>
</div>