<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link mr-3" th:onclick="mostrarMensaje()" href="#">Vacunas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="http://localhost:8080/spring/donaciones">Donaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="http://localhost:8080/spring/historias">Historias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="http://localhost:8080/spring/perdidos">Perdidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="http://localhost:8080/spring/mapa-mascotero">Mapa</a>
        </li>
    </ul>
</div>
</nav>
<div id="prox"></div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>