<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link mr-3" th:onclick="mostrarMensaje()" href="#">Vacunas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="donaciones">Donaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="historias">Historias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="perdidos">Perdidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3" href="mapa-mascotero">Mapa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="nuevo-usuario">Unirme</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
        </li>
    </ul>
</div>
</nav>
<div id="prox"></div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>