<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AppMascotera</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <div th:include="'links-head'"></div>
</head>
<body>

<div th:include="'toopbar'"></div>

<div th:include="'navbar'"></div>


<!-- Contact Start -->
<div class="container-fluid pt-3 pr-0 pl-0">
    <div class="d-flex flex-column text-center mb-2 pt-1">
        <h1 class="display-4 m-0"><span class="text-primary">Mapa</span>Mascotero</h1>
    </div>
    <div class="text-center mt-4 mb-3">
        <a class="btn btn-primary mx-2 m-1" href="/spring/mapa?zona=oeste">Zona Oeste</a>
        <a class="btn btn-secondary mx-2 m-1" href="/spring/mapa?zona=norte">Zona Norte</a>
        <a class="btn btn-primary mx-2 m-1" href="/spring/mapa?zona=sur">Zona Sur</a>
        <a class="btn btn-secondary mx-2 m-1" href="/spring/mapa?zona=caba">CABA</a>
        <a class="btn btn-primary mx-2 m-1" href="/spring/mapa?zona=original">Vista Original</a>
    </div>
    <div class="col-12 mb-n2 p-0">
        <iframe style="width: 100%; border:0; height: 500px;"
                th:src="${mapaSrc != null ? mapaSrc : 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7655.769728206894!2d-58.570091273631924!3d-34.66906268820045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc74d2a85f6b7%3A0xf7b42458c4ff6819!2sUNLaM%20-%20Mesa%20de%20Entrada!5e0!3m2!1ses-419!2sar!4v1714858059151!5m2!1ses-419!2sar'}"
                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<!-- Contact End -->


<!-- Incluyendo el footer -->
<div th:include="'footer'"></div>


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

<div th:include="'scripts'"></div>
</body>

</html>