<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
        <a href="home" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-capitalize text-white">
                <span class="text-primary">App</span>Mascotera
            </h1>
        </a>
        <button
                type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbarCollapse"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse justify-content-between px-3"
                id="navbarCollapse"
        >
            <div class="navbar-nav mr-auto py-0 align-items-center">
                <a href="home.html" class="nav-item nav-link">Home</a>
                <a
                        href="http://localhost:8080/spring/red-social"
                        class="nav-item nav-link"
                >Red Social</a>
                <a
                        href="http://localhost:8080/spring/perdidos"
                        class="nav-item nav-link"
                >Perdidos</a>
                <a
                        href="http://localhost:8080/spring/historias"
                        class="nav-item nav-link"
                >Historias</a>
                <a
                        href="http://localhost:8080/spring/donaciones"
                        class="nav-item nav-link"
                >Donaciones</a>
                <a
                        href="http://localhost:8080/spring/mapa-mascotero"
                        class="nav-item nav-link"
                >Mapa</a>
            </div>
            <div class="navbar-nav ml-auto py-0 align-items-center">
                <a href="login" class="nav-item nav-link px-3"
                >Cerrar sesión</a>
            </div>
        </div>
    </nav>
</div>

<script type="text/javascript" th:src="@{/js/main.js}"></script>
