<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Red social Mascotera - Perdidos</title>
    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/red-social.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body>
<div class="background-container"></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!-- Logo  -->
    <a class="nav-link" href="home">
        <img src="https://i.postimg.cc/DZxX8qYM/logo-Mascotas.png" width="40px" alt="Logo" class="navbar-brand"/>
    </a>
    <!-- Título -->
    <span class="navbar-brand ml-3 text-left">Perdidos</span>
    <!-- Entry points -->
    <div th:include="'entry-points'"></div>
</nav>
<h2 th:if="${mensaje}" class="alert alert-info" th:text="${mensaje}"></h2>
<main role="main" class="container flex-grow-1 d-flex align-items-center">
    <section class="todas-publicaciones-perdidos">
        <!-- Aca van las publicaciones -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="publicacion : ${todasLasPublicaciones}">
                <div class="card">
                    <img class="card-img-top" th:src="'data:image/jpeg;base64,' + ${publicacion.imagen}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"
                            th:text="${publicacion.tipoPublicacion == 'BUSCADO_POR_DUENIO' ? 'BUSCADO POR DUEÑO' :
                            (publicacion.tipoPublicacion == 'BUSCANDO_AL_DUENIO' ? 'BUSCANDO AL DUEÑO' : publicacion.tipoPublicacion)}">
                        </h5>
                        <p class="card-text" th:text="${publicacion.descripcion}">Descripción de la publicación</p>
                        <p class="card-text"><small class="text-muted" th:text="'Zona: ' + ${publicacion.zona}">Zona: zona</small></p>
                        <p class="card-text"><small class="text-muted" th:text="'Nombre: ' + ${publicacion.nombreMascota}">Nombre: nombre</small></p>
                        <div class="container-btn">
                            <form th:action="@{/detalle-publicacion/}" method="get">
                                <input type="hidden" name="id" th:value="${publicacion.getIdPublicacion()}">
                                <button type="submit" class="btn btn-outline-dark">Ver publicacion</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tipo-publicacion">
        <div class="tipo-publicacion2">
            <h1>¿Qué desea hacer?</h1>
            <a href="http://localhost:8080/spring/publicar" class="btn btn-outline-light">Publicar</a>
            <h1>Filtrar por...</h1>
            <form th:action="@{/perdidos}" method="get">
                <label style="color: white" for="nombre">Nombre de Mascota</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control">
                <label style="color: white" for="colorPelo">Color de pelo</label>
                <input type="text" id="colorPelo" name="colorPelo" placeholder="Color" class="form-control"/>
                <label style="color: white" for="zona">Zona:</label>
                <select id="zona" name="zona" class="form-control">
                    <option value="">Elija una zona</option>
                    <option value="NORTE">Norte</option>
                    <option value="SUR">Sur</option>
                    <option value="OESTE">Oeste</option>
                    <option value="CABA">Caba</option>
                </select>
                <label style="color: white" for="tiempoPublicacion">Fecha publicación</label>
                <select id="tiempoPublicacion" name="tiempoPublicacion" class="form-control">
                    <option value="">Elija un tiempo</option>
                    <option value="DIA">Hace un día</option>
                    <option value="SEMANA">Hace una semana</option>
                    <option value="MES">Hace un mes</option>
                    <option value="ULTIMO_ANIO">Hace mas de un mes</option>
                </select>
                <br>
                <a href="http://localhost:8080/spring/red-social" class="btn btn-outline-light">Volver</a>
                <button type="submit" class="btn btn-outline-light">Filtrar</button>
            </form>
        </div>
    </section>
</main>
<div class="footer mt-auto py-3 bg-dark" th:include="'footer'"></div>
<!-- Bootstrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
