<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Perfil</title>

    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/perfil.css}"/>

</head>

<body>

<div class="background-container"></div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!-- Logo  -->
    <a class="nav-link" href="http://localhost:8080/spring/">
        <img src="https://i.postimg.cc/DZxX8qYM/logo-Mascotas.png" width="40px" alt="Logo" class="navbar-brand"/>
    </a>

    <!-- Título -->
    <span class="navbar-brand ml-3 text-left">Perfil</span>

    <!-- Entry points -->
    <div th:include="'entry-points'"></div>
</nav>

<main role="main" class="container">
    <!--http://localhost:8080/spring/perfil-mascota/1-->
            <div class="card-deck">
                <div class="card">
                    <div class="imagen-mascota">
                        <!--<img class="card-img-top" th:src="@{/img/mascota-01.jpg}" alt="Card image cap">-->
                        <img th:src="@{'/img/' + mascotaData.foto}" alt="Foto mascota" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5>Estado:</h5>
                        <h4 class="card-title" th:if="${mascotaData.getEstado() == T(com.tallerwebi.dominio.MascotaEstado).BUSCADO_POR_DUENIO}">
                            Perdi mi mascota
                        </h4>
                        <h4 class="card-title" th:if="${mascotaData.getEstado() == T(com.tallerwebi.dominio.MascotaEstado).BUSCANDO_AL_DUENIO}">
                            Busco al dueño
                        </h4>
                        <h4 class="card-title" th:if="${mascotaData.getEstado() == T(com.tallerwebi.dominio.MascotaEstado).EN_ADOPCION}">
                            En adopción responsable
                        </h4>
                        <h4 class="card-title" th:if="${mascotaData.getEstado() == T(com.tallerwebi.dominio.MascotaEstado).CON_EL_DUENIO}">
                            Está con su familia
                        </h4>
                        <h5>En zona:</h5>
                        <h4 class="card-title" th:text="${mascotaData.getZona()}"></h4>
                        <h5>Es un:</h5>
                        <h4 class="card-title" th:text="${mascotaData.getTipoMascota()}"></h4>
                        <h5>De raza:</h5>
                        <h4 class="card-title" th:text="${mascotaData.getRaza()}"></h4>
                        <h5>Su color es:</h5>
                        <h4 class="card-title" th:text="${mascotaData.getColor()}"></h4>
                        <h5>Descripcion:</h5>
                        <h4 class="card-text" th:text="${mascotaData.getDescripcion()}"></h4>
                        <div class="container-btn">
                            <a href="http://localhost:8080/spring/red-social" class="btn btn-primary">Volver</a>
                            <button type="button" class="btn btn-outline-primary" th:onclick="mostrarMensaje()">Contactar</button>
                            <button type="button" class="btn btn-outline-primary" th:onclick="mostrarMensaje()">Compartir</button>
                            <button type="button" class="btn btn-outline-primary" th:onclick="mostrarMensaje()">Comentar</button>
                        </div>
                    </div>
                </div>
            </div>
</main>
<!-- Bootstrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
