<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Publicar Historia - Red Social Mascotera</title>
    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/publicar.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body class="d-flex flex-column min-vh-100">
<div class="background-container"></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!-- Logo  -->
    <a class="nav-link" href="home">
        <img src="https://i.postimg.cc/DZxX8qYM/logo-Mascotas.png" width="40px" alt="Logo" class="navbar-brand"/>
    </a>
    <!-- Título -->
    <span class="navbar-brand ml-3 text-left">Publicar Historia</span>
    <!-- Entry points -->
    <div th:include="'entry-points'"></div>
</nav>
<main role="main" class="container flex-grow-1 d-flex align-items-center">
    <div class="container">
        <h1 class="title text-left fs-1 fw-bold display-1">Publicá una historia de tu mascota</h1>
        <form th:action="@{/nueva-historia}" method="post" enctype="multipart/form-data" class="form-group" accept-charset="UTF-8">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="titular">Título de la historia</label>
                    <input type="text" id="titular" name="titular" class="form-control" required placeholder="Escribe un título original...">
                    <br>
                    <label for="nombre">Nombre de la mascota</label>
                    <input type="text" maxlength="100" id="nombre" name="nombre" class="form-control" placeholder="Peludito" required>
                    <br>
                    <label for="zona">Zona donde ocurre/ocurrió</label>
                    <select id="zona" name="zona" class="form-control" required>
                        <option value="">Seleccioná una zona</option>
                        <option value="NORTE">Norte</option>
                        <option value="SUR">Sur</option>
                        <option value="OESTE">Oeste</option>
                        <option value="CABA">CABA</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="descripcion">Descripción de la historia</label>
                    <textarea id="descripcion" maxlength="250" name="descripcion" rows="5" cols="50" required class="form-control" placeholder="Ej: Fue muy divertido ..."></textarea>
                    <br>
                    <label for="imagen">Foto de la Mascota</label>
                    <input type="file" id="imagen" name="imagen" accept="image/*" class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <div class="button col-md-6 text-center">
                    <a href="http://localhost:8080/spring/perdidos" class="btn btn-secondary">Volver</a>
                </div>
                <div class="button col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Publicar</button>
                </div>
            </div>
        </form>
    </div>
</main>
<!-- Footer -->
<div class="footer mt-auto py-3 bg-dark" th:include="'footer'"></div>
<!-- JS -->
<script type="text/javascript" th:src="@{/js/publicar.js}"></script>
<!-- Bootstrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
