<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>AppMascotera</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <div th:include="'links-head'"></div>
</head>
<body>

<div th:include="'toopbar'"></div>

<div th:include="'navbar'"></div>

<main role="main">

<div class="container-fluid bg-light">
    <div class="container pt-3">
        <h2 th:if="${mensaje}" class="card-title alert alert-warning" th:text="${mensaje}"></h2>
        <div class="d-flex flex-column text-center mb-2 pt-1">
            <h1 class="display-4 m-0"><span class="text-primary">Publicar</span>Sobre...</h1>
        </div>
        <div class="row pb-3">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 align-items-center">
                    <img src="/spring/img/icono-mascota-perdida.png" style="width: 6rem;" alt="Lupita" class="icon-img">
                    <a class="text-uppercase font-weight-bold" href="publicarPerdido">Mascota perdida</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 align-items-center">
                    <img src="/spring/img/icono-nueva-historia.png" style="width: 6rem;" alt="Megáfono" class="icon-img">
                    <a class="text-uppercase font-weight-bold" href="publicarHistoria">Nueva historia</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 align-items-center">
                    <img src="/spring/img/icono-solicitar-donacion.png" style="width: 6rem;" alt="Caja con Corazón" class="icon-img">
                    <a class="text-uppercase font-weight-bold" href="publicarDonacion">Solicitar donación</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ultimas publicaciones-->
<div class="container-fluid p-0 py-2">
    <div class="container p-0 pt-2">
        <div class="d-flex flex-column text-center mb-2">
            <h3 class="display-4 m-0" style="font-size: 2rem">Últimas<span class="text-primary" style="font-size: 2rem">Publicaciones</span></h3>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="bg-light mx-3 p-4">
                <div style="text-align-last: center" th:each="publicacion : ${ultimasPublicaciones}">
<!--                    <img class="img-fluid mb-2" th:src="'data:image/jpeg;base64,' + ${publicacion.imagen}" style="width: 80px; height: 80px;" alt="">-->
                    <h5 th:text="${publicacion.tipoPublicacion.name()}"></h5>
                    <p class="m-0 mb-3" th:text="${#strings.abbreviate(publicacion.descripcion, 70)}"></p>
                    <button class="mb-4">
                        <a th:href="@{'/detalle-publicacion/?id=' + ${publicacion.idPublicacion}}">
                            Ver publicación
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Ultimas publicaciones-->

</main>
<!-- Incluyendo el footer -->
<div th:include="'footer'"></div>

<div th:include="'scripts'"></div>
</body>
</html>
