<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Publicar perdido - Red Social Mascotera</title>
    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/publicar.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body class="d-flex flex-column min-vh-100">
<div class="background-container"></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!-- Logo  -->
    <a class="nav-link" href="home">
        <img src="https://i.postimg.cc/DZxX8qYM/logo-Mascotas.png" width="40px" alt="Logo" class="navbar-brand"/>
    </a>
    <!-- Título -->
    <span class="navbar-brand ml-3 text-left">Publicar perdido</span>
    <!-- Entry points -->
    <div th:include="'entry-points'"></div>
</nav>
<main role="main" class="container flex-grow-1 d-flex align-items-center">
    <div class="container">
        <h1 class="title text-left fs-1 fw-bold display-1">Reportar mascota perdida</h1>
        <form th:action="@{/nuevo-perdido}" method="post" enctype="multipart/form-data" class="form-group" accept-charset="UTF-8">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="tipoPublicacionPerdido">Tipo de publicación</label>
                    <select id="tipoPublicacionPerdido" name="tipoPublicacionPerdido" required class="form-control">
                        <option value="">Seleccionar</option>
                        <option value="BUSCADO_POR_DUENIO">Perdí mi mascota</option>
                        <option value="BUSCANDO_AL_DUENIO">Busco al dueño</option>
                    </select>
                    <br>
                    <label for="nombre">Nombre de la mascota</label>
                    <input type="text" maxlength="100" id="nombre" name="nombre" class="form-control" placeholder="Peludito">
                    <br>
                    <label for="direccion">Visto por última vez en</label>
                    <input type="text" maxlength="150" id="direccion" name="direccion" required class="form-control" placeholder="Completar dirección">
                    <br>
                    <label for="zona">Zona donde se perdió</label>
                    <select id="zona" name="zona" required class="form-control">
                        <option value="">Seleccionar</option>
                        <option value="NORTE">Norte</option>
                        <option value="SUR">Sur</option>
                        <option value="OESTE">Oeste</option>
                        <option value="CABA">CABA</option>
                    </select>
                    <br>
                    <label for="mascotaColor">Color de pelo</label>
                    <select id="mascotaColor" name="mascotaColor" required class="form-control">
                        <option value="">Seleccionar</option>
                        <option value="BLANCO">Blanco</option>
                        <option value="GRIS">Gris</option>
                        <option value="NEGRO">Negro</option>
                        <option value="MARRON">Marrón</option>
                        <option value="DORADO">Dorado</option>
                        <option value="OTRO">Otro</option>
                    </select>
                </div>

                <div class="col-md-6 form-group">
                    <label for="descripcion">Descripción de la Mascota</label><br>
                    <textarea id="descripcion" maxlength="250" name="descripcion" rows="5" cols="50" required class="form-control" placeholder="Ej: Lleva un collar ..."></textarea><br>

                    <label for="mascotaRaza">Raza</label>
                    <select id="mascotaRaza" name="mascotaRaza" required class="form-control">
                        <option value="">Seleccionar</option>
                        <option value="MESTIZO">Mestizo</option>
                        <option value="GOLDEN">Golden Retriever</option>
                        <option value="LABRADOR">Labrador Retriever</option>
                        <option value="PASTOR_ALEMAN">Pastor Alemán</option>
                        <option value="BEAGLE">Beagle</option>
                        <option value="BULLDOG">Bulldog</option>
                        <option value="BOXER">Boxer</option>
                        <option value="CHIHUAHUA">Chihuahua</option>
                        <option value="COCKER">Cocker Spaniel</option>
                        <option value="ROTTWEILER">Rottweiler</option>
                        <option value="SALCHICHA">Salchicha (Dachshund)</option>
                        <option value="ABISINIO">Abisinio</option>
                        <option value="BENGALI">Bengalí</option>
                        <option value="BRITISH">British Shorthair</option>
                        <option value="ESFINGE">Esfinge</option>
                        <option value="MAINE_COON">Maine Coon</option>
                        <option value="PERSA">Persa</option>
                        <option value="RAGDOLL">Ragdoll</option>
                        <option value="RUSSIAN_BLUE">Russian Blue</option>
                        <option value="SAVANNAH">Savannah</option>
                        <option value="SIAMES">Siamés</option>
                    </select>
                    <br>
                    <label for="nombreContacto">Persona de contacto</label>
                    <input type="text" id="nombreContacto" name="nombreContacto" required class="form-control" placeholder="Completar nombre">
                    <br>
                    <label for="telefonoContacto">Número de contacto</label>
                    <input onchange="validateTelefono(this)" type="number" id="telefonoContacto" name="telefonoContacto" required class="form-control" placeholder="Completar telefono">
                </div>
                <div class="col-md-6 form-group">
                    <label for="imagen">Foto de la Mascota</label>
                    <input type="file" id="imagen" name="imagen" accept="image/*" class="form-control">
                </div>
            </div>

            <div class="row mt-2">
                <div class="button col-md-6 text-center">
                    <a href="http://localhost:8080/spring/perdidos" class="btn btn-secondary">Volver</a>
                </div>

                <div class="button col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Publicar</button>
                </div>
            </div>
        </form>
    </div>
</main>
<!-- Footer -->
<div class="footer mt-auto py-3 bg-dark" th:include="'footer'"></div>
<!-- JS -->
<script type="text/javascript" th:src="@{/js/publicar.js}"></script>
<!-- JS -->
<script type="text/javascript" th:src="@{/js/publicar.js}"></script>
<!-- Bootstrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
