<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>AppMascotera</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <div th:include="'links-head'"></div>
</head>
<body class="d-flex flex-column min-vh-100">

<div th:include="'toopbar'"></div>

<div th:include="'navbar'"></div>

<main role="main" class="container flex-grow-1 d-flex align-items-start">
    <div class="container pt-3">
        <div class="d-flex flex-column text-center mb-2 pt-1">
            <h1 class="display-4 m-0"><span class="text-primary">Solicitar</span>Donación</h1>
        </div>
        <h2 th:if="${mensaje}" class="alert alert-info" th:text="${mensaje}"></h2>
        <h2 th:if="${error}" class="alert alert-warning" th:text="${error}"></h2>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form th:action="@{/nueva-donacion}" method="post" enctype="multipart/form-data" class="form-group" accept-charset="UTF-8">
                        <div class="control-group">
                            <input type="text" maxlength="100" id="nombreMascota" name="nombreMascota" class="form-control" placeholder="Nombre de la mascota" required>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea id="descripcion" maxlength="250" name="descripcion" rows="5" cols="50" required class="form-control" placeholder="Descripción"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input onchange="validateMonto(this)" type="number" required maxlength="10" id="monto" name="monto" class="form-control" placeholder="Monto total a cubrir">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <select id="zona" name="zona" required class="form-control" placeholder="Zona donde vive la mascota...">
                                <option value="">Zona donde vive la mascota...</option>
                                <option value="NORTE">Norte</option>
                                <option value="SUR">Sur</option>
                                <option value="OESTE">Oeste</option>
                                <option value="CABA">CABA</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="file" id="imagen" name="imagen" accept="image/*" class="form-control" placeholder="Foto de la mascota">                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="d-flex flex-column" style="margin-right: 25%; margin-left: 25%">
                            <button class="btn btn-primary py-2 px-3 mb-2" type="submit" id="sendMessageButton">Publicar</button>
                            <a href="http://localhost:8080/spring/publicar" class="btn btn-primary py-2 px-3" type="submit">
                                Volver
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Incluyendo el footer -->
<div th:include="'footer'"></div>
<!-- JS -->
<script type="text/javascript" th:src="@{/js/publicar.js}"></script>
<div th:include="'scripts'"></div>
</body>
</html>
