<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Red social Mascotera</title>
    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/red-social.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body>
<div class="background-container"></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!-- Logo  -->
    <a class="nav-link" href="home">
        <img src="https://i.postimg.cc/DZxX8qYM/logo-Mascotas.png" width="40px" alt="Logo" class="navbar-brand"/>
    </a>
    <!-- Título -->
    <span class="navbar-brand ml-3 text-left">Red social</span>
    <!-- Entry points -->
    <div th:include="'entry-points'"></div>
</nav>
<main role="main" class="container flex-grow-1 d-flex align-items-start">

    <!-- Contenedor de las publicaciones -->
    <section class="todas-publicaciones">
        <h2 th:if="${mensaje}" class="alert alert-info" th:text="${mensaje}"></h2>
        <h2 th:if="${error}" class="alert alert-warning" th:text="${error}"></h2>
        <div class="card-deck">
            <div class="row">
                <div class="col-md-4" th:each="publicacion : ${todasLasPublicaciones}">
                    <div class="card mb-4 shadow-sm">
                        <!--<img class="card-img-top" th:src="'data:image/jpeg;base64,' + ${publicacion.imagen}" alt="Card image cap">-->
                        <img class="card-img-top"
                             th:src="${publicacion.imagen != null} ? 'data:image/jpeg;base64,' + ${publicacion.imagen} : '/spring/img/sin-imagen.jpg'"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"
                                th:text="${publicacion.tipoPublicacion == 'BUSCADO_POR_DUENIO' ? 'PERDIDOS' : (publicacion.tipoPublicacion == 'BUSCANDO_AL_DUENIO' ? 'PERDIDOS' : publicacion.tipoPublicacion)}"></h5>
                            <p class="card-text"
                               th:text="${publicacion.descripcion.length() > 25 ? publicacion.descripcion.substring(0, 25) + '...' : publicacion.descripcion}"></p>
                            <p class="card-text"><small class="text-muted">Publicado el: <span
                                    th:text="${publicacion.fechaPublicacion}"></span></small></p>
                            <p class="card-text"><small class="text-muted">Zona: <span
                                    th:text="${publicacion.zona}"></span></small></p>
                            <p class="card-text"><small class="text-muted">Nombre: <span
                                    th:text="${publicacion.nombreMascota}"></span></small></p>
                            <div class="container-btn">
                                <form th:action="@{/detalle-publicacion/}" method="get">
                                    <input type="hidden" name="id" th:value="${publicacion.getIdPublicacion()}">
                                    <button type="submit" class="btn btn-outline-dark">Ver publicacion</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contenedor del cuadro de la derecha -->
    <section class="tipo-publicacion">
        <div class="tipo-publicacion2">
            <a href="http://localhost:8080/spring/publicar" class="btn btn-outline-light">Publicar</a>
            <h1><small>Quiero ver...</small></h1>
            <a href="http://localhost:8080/spring/red-social?ordenar=DESC" class="btn btn-outline-light btn-sm">Antiguas
                primero</a>
            <a href="http://localhost:8080/spring/red-social?ordenar=ASC" class="btn btn-outline-light btn-sm">Recientes
                primero</a>
            <h1><small>Solo ver...</small></h1>
            <a href="http://localhost:8080/spring/perdidos" class="btn btn-outline-light btn-sm">Mascotas perdidas</a>
            <a href="http://localhost:8080/spring/historias" class="btn btn-outline-light btn-sm">Historias de mascotas</a>
            <a href="http://localhost:8080/spring/donaciones" class="btn btn-outline-light btn-sm">Solicitan donación</a>
            <form th:action="@{/red-social}" method="get">
                <label style="color: white" for="zona">Zona:</label>
                <select id="zona" name="zona" class="form-select">
                    <option value="">Ingrese una zona</option>
                    <option value="NORTE">Norte</option>
                    <option value="SUR">Sur</option>
                    <option value="OESTE">Oeste</option>
                    <option value="CABA">Caba</option>
                </select>
                <label class="mt-1" style="color: white" for="nombre">Nombre mascota:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre..">
                <br>
                <button type="submit" class="btn btn-outline-light">Filtrar</button>
            </form>
            <a href="http://localhost:8080/spring/red-social" class="btn btn-outline-light btn-sm">Limpiar filtros</a>
        </div>
    </section>
</main>

<!-- Incluyendo el footer -->
<div class="footer mt-auto py-3 bg-dark" th:include="'footer'"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
