<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Red social Mascotera</title>
    <!-- Bootstrap core css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/red-social.css}"/>
</head>
<body>
<div class="background-container"></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!-- Logo  -->
    <a class="nav-link" href="home">
        <img src="https://i.postimg.cc/DZxX8qYM/logo-Mascotas.png" width="40px" alt="Logo" class="navbar-brand"/>
    </a>
    <!-- Título -->
    <span class="navbar-brand ml-3 text-left">Red social</span>
    <!-- Entry points -->
    <div th:include="'entry-points'"></div>
</nav>
<main role="main" class="container">
    <section class="todas-publicaciones">
        <!--Aca van las publicaciones-->
        <div class="card-deck">
            <div class="card">
                <div class="card-body">

                    <table th:if="${todasLasPublicaciones}" class="table table-striped">  <thead>
                    <tr>
                        <th>Publicación Nº</th>
                        <th>Tipo</th>
                        <th>Publicado el día</th>
                        <th>Zona</th>
                        <th>Descripción</th>
                        <th>Nombre mascota</th>
                        <th>Color</th>
                        <th>Foto</th>
                    </tr>
                    </thead>
                        <tbody>
                        <tr th:each="publicacion : ${todasLasPublicaciones}">
                            <!--<img class="card-img-top" th:src="@{/img/publicacion.getImagen()}" alt="Card image">-->
                            <td th:text="${publicacion.getIdPublicacion()}"></td>
                            <td th:text="${publicacion.getTipoPublicacion()}"></td>
                            <td th:text="${publicacion.getFechaPublicacion()}"></td>
                            <td th:text="${publicacion.getZona()}"></td>
                            <td th:text="${publicacion.getDescripcion()}"></td>
                            <td th:text="${publicacion.getNombreMascota()}"></td>
                            <td th:text="${publicacion.getMascotaColor()}"></td>
                            <td th:text="${publicacion.getImagen()}"></td>
                        </tr>
                        </tbody>
                        <div class="container-btn">
                            <button type="button" class="btn btn-outline-primary" th:onclick="mostrarMensaje()" >Contactar</button>
                            <button type="button" class="btn btn-outline-primary" th:onclick="mostrarMensaje()" >Compartir</button>
                            <button type="button" class="btn btn-outline-primary" th:onclick="mostrarMensaje()" >Comentar</button>
                            <form th:action="@{/perfil-mascota/}" method="get">
                                <input type="hidden" name="id" th:value="1">
                                <button type="submit" class="btn btn-dark">Ver perfil</button>
                            </form>
                        </div>

                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="tipo-publicacion" >

        <div class="tipo-publicacion2">
                <h1>¿Qué desea hacer?</h1>
                <a href="http://localhost:8080/spring/publicar" class="btn btn-outline-light">Publicar</a>
                <br>
                <h1>Filtrar por...</h1>
                <a href="http://localhost:8080/spring/perdidos" class="btn btn-outline-light">Mascotas perdidas</a>
                <a href="http://localhost:8080/spring/historias" class="btn btn-outline-light">Historias de mascotas</a>
                <a href="http://localhost:8080/spring/donaciones" class="btn btn-outline-light">Solicitan donación</a>
        </div>
    </section>
</main>
<!-- Bootstrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>