<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-lg-5">
    </div>
    <div class="row py-3 px-lg-5">
        <div class="col-lg-4">
            <a href="" class="navbar-brand d-none d-lg-block">
                <h1 class="m-0 display-5 text-capitalize"><span class="text-primary">App</span>Mascotera</h1>
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <img src="/spring/img/logo-app.png" width="60rem" alt="Logo" class="navbar-brand"/>
                <div class="d-inline-flex flex-column text-center pl-3">
                    <h5 class="text-primary mb-1">La red social de mascotas</h5>
                    <h5 class="mb-0">que estabas esperando</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->